
@{
	ViewBag.Title = "BackgroundGreyscale";
}


<body class="Background">

	<div class="container TransparentBox">

		<img class="pull-left col col-md-4" src="~/Images/casey.jpg" style="height: 100%; padding-left: 0px" />
		<div class="col col-md-8" style="padding-top:10px; background-color: orangered; height:100%;">Text Here</div>
	</div>
	<br />
	<br />

	<div class="container TransparentBox">
		<div class=" col col-md-8" style="padding-top:10px; background-color: orangered; height:100%;">Text Here</div>
		<img class="pull-right col col-md-4" src="~/Images/casey.jpg" style="height: 100%; padding-right: 0px;" />
	</div>
	<br />
	<br />
	<div class="container TransparentBox">
		<img class="pull-left col col-md-4" src="~/Images/casey.jpg" style="height: 100%; padding-left: 0px;" />
		<div class="col col-md-8" style="padding-top:10px; background-color: orangered; height:100%">Text Here</div>
	</div>
	<br />
	<br />

</body>
