@model ResumeSite.Models.User

@{
    ViewBag.Title = "ConfirmationCode";
}

<input type="text" name="confirmation" />
<br/>
<h1>Activate your account!</h1>
<br/>
<button class="btn btn-success">Activate</button>

